$popin:"Poppins", sans-serif;

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

.Tecnologias{
    flex-basis: 25%; 
    text-align: center;
    h1{
        color: #e2e3dd;
        padding: 20px;
    }
}
.skills{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
        svg{
            width:40%;
            margin:10px;
        }
        .skill{
            width: 90%;
            border-radius: 20px;
            background-color: #00390d;
            margin: 0px;
            margin-top:20px;
        }
        h5{
            color:#e2e3dd;
            text-align:center;
        }
        .js{
            width: 90%;
            border-radius: 20px;
            background-color: #00390d;
            margin: 0px;
            margin-top: 20px;
            svg{
                margin:10px;
            }
            h5{
                color:#e2e3dd;
                text-align:center;
            }
        }
    }
    

.Habilidades-blandas{
    flex-basis: 25%; 
    text-align: center;
    h1{
        color: #e2e3dd;
        position: relative;
        font-size: 4.5rem;
        font-family: 'Kanit', sans-serif;
        font-weight: 1000;
        text-align: center;
        padding: 20px;
    }
    .blandas{
        display:grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        img{
            width:40%;
            margin: 10px;
        }
        .subBland{
            width: 90%;
            border-radius: 20px;
            background-color: #00390d;
            margin: 0px;
        }
        img:hover{
            cursor:pointer;
            animation: myAnim 2s ease 0s 1 normal forwards;

            @keyframes myAnim {
                0% {
                    animation-timing-function: ease-out;
                    transform: scale(1);
                    transform-origin: center center;
                }
            
                10% {
                    animation-timing-function: ease-in;
                    transform: scale(0.91);
                }
            
                17% {
                    animation-timing-function: ease-out;
                    transform: scale(0.98);
                }
            
                33% {
                    animation-timing-function: ease-in;
                    transform: scale(0.87);
                }
            
                45% {
                    animation-timing-function: ease-out;
                    transform: scale(1);
                }
            }
        }
        h5{
            color:#e2e3dd;
            text-align: center;
        }
        .equipo{
            img{
                border-radius: 100%;
            }
        }
    }
}

@media screen and (max-width: 480px){
    .Tecnologias{
        .skills{
            svg{
                width:80%;
            }
        }
        h1{
            font-size: 3rem;
            padding: 5px;
            text-align:left;
            margin: 15px 0px 15px 0px
        }
        h5{
            font-size:0.8rem;
        }
    }

    .Habilidades-blandas{
        .blandas{
            img{
                width:70%;
                margin: 10px;
            }
        }
        h1{
            font-size: 3rem;
            padding: 5px;
            text-align:left;
            margin: 15px 0px 15px 0px
        }
        h5{
            font-size:0.7rem;
        }
    }
}