$colorleter:#e2e3dd;
$popin:"Poppins", sans-serif;

.hh{
    height: 100vh;
    // display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .gen{
        // display: flex;
        // gap: 100px;
    /* justify-content: center; */
    /* display: flex; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
        .gen0{
            flex-basis: 50%;
            margin: 60px;
            h1{
                font-size: 5rem;
                color: $colorleter;
                font-family: $popin;
                font-weight: 700;
            }
            h2{
                font-size: 4rem;
                color: $colorleter;
                font-family: $popin;
                font-weight: 700;
                width: 100%;
            }
            p{
                font-size: 1.2rem;
                color: $colorleter;
                font-family: $popin;
                justify-content: left;
            }
            .resume{
                p{
                    color: black;
                }
            }
        }
        .gen1{
            // flex-basis: 50%;
            width: 400px;
            height: 400px;
            background-color: #00390d;
            border-radius: 80% 50% 70% 50%;
            background-image: url(../../IMG/max.png);
            background-size: cover;
            margin: auto;
        }

    }
}

@media screen and (max-width: 480px){
    .hh{
        .gen{
            flex-direction: column-reverse;
            .gen0{
                h1{
                    text-align: center;
                    font-size: 3rem;
                }
                h2{
                    font-size: 2.3rem;
                    text-align: center;
                }
                p{
                    font-size: 1rem;
                    text-align: center;
                }
                .resume{
                    justify-content: center;
                }
            }
            .gen1{
    
            }
        }
    }
}